*{
    margin: 0;
    padding: 0;
}
.section-1{
    background: chartreuse;
    padding: 70px 0;
}
.container{
    width: 85%;
    margin: auto;
}
.section-1 h2{
    color: blue;
    font-size: 40px;
    margin-bottom: 15px;
}
.section-1 p{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.section-1 a{
    color: black;
    background: rgb(242, 73, 0);
    text-decoration: none;
    padding: 10px 30px;
    display: none;
}

.team-section{
    background: cornflowerblue;
    padding: 100px 0;

}
.team-members{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.member{
    width: 23.5%;
    
}
.member img{
    width: 100%; 
    height: auto;
    display: block;
}
